name: gitleaks
on: [ push, pull_request, workflow_dispatch ]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Gitleaks (full repo scan)
        uses: zricethezav/gitleaks-action@v2
        with:
          args: detect --source . --config=.gitleaks.toml --no-git --redact --verbose --exit-code=1
